__pycache__/
.idea/
main.py
build/
dist/
logs/
.gitignore
rfq_scripts/
structure.py
sonaca_honda.py
flammability_test.py
assy.py
MieTrakAPI.log
extra.py
gui.spec
generate_email.py
MieTrakAPI.log
create_excel/
rfq_gen/